<h1>Artist appearances</h1>
<div>
  <%= link_to 'Sync now', oh_my_rockness_syncs_path, method: :post, class: 'btn btn-secondary btn-sm', role: 'button' %>
  Last synced at <%= @latest_oh_my_rockness_sync&.created_at || 'never' %>
</div>
<br />
<%- @artist_appearances.each do |artist_appearance| %>
  <div class="card card-list-item">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to artist_appearance.show.summary, artist_appearance.show.url %>
      </h5>
      <%- @song_watches.merge(artist_appearance.song_watches).each do |song_watch| %>
        <div>
          <%= link_to song_watch.name, song_watch.spotify_track_url %>
          by
          <%= link_to artist_appearance.name, song_watch.spotify_artist_url_for_appearance(artist_appearance) %>
          on
          <%= link_to song_watch.playlist_watch.name, song_watch.playlist_watch.spotify_playlist_url %>
        </div>
      <%- end %>
    </div>
  </div>
<%- end %>
