<!DOCTYPE html>
<html>
  <head>
    <title>OhMyPlaylists</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <nav class="navbar navbar-light bg-light">
      <%= link_to "OhMyPlaylists", home_path, class: "navbar-brand" %>
      <%# <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </nav>
    <p class="alert alert-primary" role="alert"><%= notice %></p>
    <p class="alert alert-danger" role="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
</html>
